<div class="layout-topbar">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a class="layout-topbar-logo" [routerLink]="['/']">
        <img src="assets/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" height="40" class="mr-2" alt="logo">
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="d-flex align-items-center">
        <p-dropdown [options]="themes" [(ngModel)]="themeSelected" optionLabel="name" (onChange)="changeTheme()"></p-dropdown>

        <input type="text" pInputText placeholder="Search" class="p-inputtext-sm ml-3" />
        <p-button label="Giỏ hàng" icon="pi pi-shopping-cart" size="small" class="shopping-cart ml-3"></p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>
