<div class="layout-topbar">
  <a class="layout-topbar-logo desktop" (click)="layoutService.onMenuToggle()">
    <img src="assets/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
      alt="logo">
    <span>Nghe</span>
  </a>
  <a class="layout-topbar-logo tablet" routerLink="">
    <img src="assets/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
      alt="logo">
    <span>Nghe</span>
  </a>

  <button #menuButton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <button #topBarMenuButton class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topBarMenu class="layout-topbar-menu"
    [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <button *ngIf="isLightMode" class="p-link layout-topbar-button" (click)="changeTheme('bootstrap4-light-blue', 'light')">
      <i class="pi pi-moon"></i>
      <span>Mode light</span>
    </button>
    <button *ngIf="!isLightMode" class="p-link layout-topbar-button" (click)="changeTheme('bootstrap4-dark-blue', 'dark')">
      <i class="pi pi-moon"></i>
      <span>Mode dark</span>
    </button>
    <button class="p-link layout-topbar-button">
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button>
    <button class="p-link layout-topbar-button" [routerLink]="'/' + settingPath">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </button>
  </div>
</div>
